.form-main {
  text-align: center;

  .form {
    width: 460px;
    height: 440px;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;

    a {
      display: block;
      text-decoration: underline;
      margin-top: 20px;
    }
  }

  .text {
    padding: 50px;

    h3 {
      font-size: 24px;
      font-weight: 400;

      span {
        color: inherit;
        font-weight: 700;
      }
    }
  }
}
